
<section class="contact-us-container">
    <div class="contact-us-content">
      <div class="contact-us-left">
        <mat-card class="contact-info-card">
          <mat-card-header>
            <mat-card-title>Our Office</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <span><mat-icon style="color: #bbbbbb;">location_on</mat-icon>
                6th Block, Koramangala , Bangalore-560034
              </span>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="contact-info-card">
          <mat-card-header>
            <mat-card-title>Contact Us On Phone</mat-card-title>
          </mat-card-header>
          <mat-card-content style="margin-left: 5%;">
            <p><a style="text-decoration: none; color: blueviolet;font-size: larger;font-style: italic;" href="tel:+123456789">+919380433237</a></p>
            <p><a style="text-decoration: none; color: blueviolet;font-size: larger;font-style: italic;" href="tel:+123456789">+917010083694</a></p>
            <p><a  style="text-decoration: none; color: blueviolet;font-size: larger;font-style: italic;" href="tel:+123456789">+916360068845</a></p>
            <p><a  style="text-decoration: none; color: blueviolet;font-size: larger;font-style: italic;" href="tel:+123456789">+918620038489</a></p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="contact-info-card">
          <mat-card-header>
            <mat-card-title>Reaach Out To Us Via Email</mat-card-title>
          </mat-card-header>
          <mat-card-content style="margin-left: 5%;">
            <p><a style="text-decoration: none; color: blueviolet;font-size: larger;font-style: italic;" href="mailto:info@everse.in">info@everse.in</a></p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="contact-us-right">
        <mat-card class="message-card">
          <mat-card-header>
            <mat-card-title>Send us a Message</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form>
              <mat-form-field class="form-group" appearance="outline">
                <mat-label for="name">Name</mat-label>
                <input matInput type="text" id="name" name="name" required>
              </mat-form-field>
              <mat-form-field class="form-group" appearance="outline">
                <mat-label for="email">Email</mat-label>
                <input matInput type="email" id="email" name="email" required>
              </mat-form-field>
              <mat-form-field class="form-group" appearance="outline">
                <mat-label for="message">Message</mat-label>
                <textarea matInput id="message" name="message" required></textarea>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit">Send Message</button>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
  