.review-container>h2 {
    font-family: sans-serif;
    letter-spacing: 1;
    word-spacing: 3px;
}

.review-container_main_div {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

mat-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #ffc107;
}

.review-container_main_div::-webkit-scrollbar {
    display: none;
}

.review-container_card {
    flex: 0 0 auto;
    height: auto;
    width: 280px;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

.review-container_Image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.review-container_Image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}



.platform-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
}

.platform-title img {
    width: 28px;
    height: 25px;
    margin-right: 10px;
}

.stars {
    display: inline-block;
    color: #f1c40f;
    margin-bottom: 5px;
}


.review-comment {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 0.3px;
    word-spacing: 1px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #696969;
}

.review-comment.expandable {
    display: block;
    -webkit-line-clamp: unset;
    white-space: initial;
    overflow: visible;
}