<section class="alt__container">
  <div class="alt__sectionHeading">
    <div class="alt__sectionHeadingBox">
      <div class="alt__sectionHeadingIcon">
        <mat-icon>collections_bookmark</mat-icon>
      </div>
      <div class="alt__sectionHeadingText">
        Popular<strong class="alt__sectionHeadingStrong">Blogs</strong>
      </div>
    </div>
    <div class="alt__sectionHeadingViewAll">
      <a href="#">View All</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
      </svg>
    </div>
  </div>
  <div class="blog_main_div">
    <div class="blog_mat_card_div">
      <div class="blog_mat_card" *ngFor="let blogItem of blogs">
        <div class="blog_mat_card_image_div">
         <a routerLink="/blogs/{{blogItem.id}}"> <img [src]="blogItem.images" alt=""></a>
        </div>
        <div class="blog_mat_card_tittle_div">
          <a routerLink="/blogs/{{blogItem.id}}">
            <h2>{{ blogItem.title }}</h2>
          </a>
          <a class="alt__description" routerLink="/blogs/{{blogItem.id}}">
            <p>{{blogItem.shortDescription}}</p>
          </a>
  
          <button routerLink="/blogs/{{blogItem.id}}" mat-button>Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
