<section id="Product__Detail__Section">
  <p>Home>Smartwatches>Big Display Smart... ><strong>Wave Pro 47</strong></p>
  <div id="Product__Detail__div">
    <div id="Product__Detail__image__div">
      <mat-card id="Product__Detail__button__image">
        <div class="Product__Detail__button__image__div">
          <img src="https://cdn.pixabay.com/photo/2018/01/22/14/13/animal-3099035_1280.jpg" alt="image not found">
        </div>
        <div class="Product__Detail__button__image__div">
          <img src="https://cdn.pixabay.com/photo/2018/01/22/14/13/animal-3099035_1280.jpg" alt="image not found">
        </div>




      </mat-card>

      <mat-card id="Product__Detail__show__image">
        <img src="https://cdn.pixabay.com/photo/2018/01/22/14/13/animal-3099035_1280.jpg" alt="image not found">
        <!-- <img src="https://cdn.pixabay.com/photo/2018/01/22/14/13/animal-3099035_1280.jpg" alt="image not found"> -->
      </mat-card>

    </div>






    <div id="Product__Detail__content__div">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima libero
      tenetur voluptatibus saepe modi
      officiis dolore, iste atque et facere mollitia consequatur aut nesciunt dolorum in quae pariatur. Hic, illum?
    </div>
  </div>






</section>
