
.product-list {
 
  box-sizing: border-box;
  display: flex;
 
  justify-content: space-between;
  padding: 20px 0;
  border-radius: 10px;
  overflow: auto;
 
 
}
 
.product-list::-webkit-scrollbar {
  display: none;
}
 
.product-card {
  height: auto;
  width: 350px;
  margin: 0px 20px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0;
  transition: transform 0.3s ease;
 
}
.product-card:hover {
  transform: scale(1.1);
}
  .no-result{
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
.shop-now-button{
    border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    width: 200px;
    background-color: #fed700;
    color:white;
}
.banner-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px; /* Adjust margin as needed */
}
