.card{
    background-image: linear-gradient(pink,white);
    margin: 2px;
    padding: 2px;
    width: 25%;
}
.product-image {
    height: auto;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  .product-name {
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .product-description {
   margin:5px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
  }
  .product-description:hover{ 
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
    cursor: pointer;
    letter-spacing: 0.5px;
    text-align: justify;
    color: rgb(39, 94, 104);
  }
  .product-price {
    color: rgb(134, 133, 130);
    margin-top: 0;
    text-decoration: line-through;
  }
  .compare-price{
    font-weight: bold;
    margin-top: 0;
    margin-right: 0.5rem;
  }
  .image-chip-list {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    z-index: 1;
  }
  
  .mat-chip {
    width: 48px;
    height: 48px;
    background-size: cover;
    margin-right: 8px;
    cursor: pointer;
    
  }
 
  .selected-image-container {
    width: 280px; /* Set the desired width of the container */
    height: 250px;/* Set the desired height of the container */
    padding: 0 5px;
    position: relative;
    overflow: hidden; /* Ensure that images exceeding container dimensions are clipped */
  }
  
  .image {
    width: 70%; /* Make the image fill the width of the container */
    height: 70%; 
    margin-left: 20%;
    margin-top: 10%;/* Make the image fill the height of the container */
    transition: transform 0.3s ease;
    object-fit: cover; /* Maintain the aspect ratio of the image while filling the container */
  }
  
  .zoomed {
    transform: scale(1.5);
    cursor: move;
  }
  .action{
    text-align: center;
  }

  .button-addToCart{
     border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    width:200px;
    margin-bottom: 5px;
    background-color: #fed700;
    color:#444;
  }
  .button-buyNow{
    border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    width: 200px;
    background-color: #46484a;
    color:white;
  }
  .discount-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c9c4c4; /* Set the desired background color for the discount tag */
    color: green; /* Set the desired text color for the discount tag */
    padding: 4px 8px; /* Set the desired padding for the discount tag */
    font-weight: bold; /* Set the desired font weight for the discount tag */
  }
 
@media screen and (max-width: 768px) {
  .custom-list-item {
    width: 80%;
    height: auto;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 10px;
  }
}