<section class="alt__container">
    <div>
        <h2 style=" margin: 2px;font-family:sans-serif;font-weight:500 ;">
            <mat-icon>assistant</mat-icon>
            Everse <b>Accessories</b>
        </h2>
    </div>
    <div class="alt__accessoriesContainer">
        <div  *ngFor="let key of accessoryList">
            <a href="" class="card alt__accessoriesCard">
                <div class="card__image">
                    <div class="alt__accessoriesImage">
                        <img
                            src="{{key.imageurl}}" width="300"><!--Only .png Img Will be look good here size should w-300 by h-200 -->
                    </div>
                </div>
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#fff" d="M 40 80 c 22 0 40 -22 40 -40 v 40 Z"></path>
                        </svg>
                        <mat-icon class="alt__addToCartIcon">add</mat-icon>
                        <div class="card__header-text">
                            <h3 class="card__title">{{key.title}}</h3>
                        </div>
                    </div>
                    <div class="alt__viewMoreContainer">
                        <a class="alt__viewMore" href="">See All</a>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</section>