<section class="alt__container">
    <div class="alt__sectionHeading">
        <div class="alt__sectionHeadingBox">
          <div class="alt__sectionHeadingIcon">
            <mat-icon>assistant</mat-icon>
          </div>
          <div class="alt__sectionHeadingText">
            Everse<strong class="alt__sectionHeadingStrong">Accessories</strong>
          </div>
        </div>
        <div class="alt__sectionHeadingViewAll">
          <a href="#">View All</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
          </svg>
        </div>
      </div>
    <div class="alt__accessoriesContainer">
        <div  *ngFor="let key of accessoryList">
            <a href="" class="card alt__accessoriesCard">
                <div class="card__image">
                    <div class="alt__accessoriesImage">
                        <img
                            src="{{key.imageurl}}" width="300"><!--Only .png Img Will be look good here size should w-300 by h-200 -->
                    </div>
                </div>
                <div class="card__overlay">
                    <div class="card__header">
                        <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
                            <path fill="#fff" d="M 40 80 c 22 0 40 -22 40 -40 v 40 Z"></path>
                        </svg>
                        <mat-icon class="alt__addToCartIcon">add</mat-icon>
                        <div class="card__header-text">
                            <h3 class="card__title">{{key.title}}</h3>
                        </div>
                    </div>
                    <div class="alt__viewMoreContainer">
                        <a class="alt__viewMore" href="">See All</a>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
</section>