<!-- <div class="home-header">
   <div class="column">

     <h1 style="margin-top: 100px;">
        DJI DRONE
     </h1>
   </div> 
   <div class="column">
    <img width="500px" src="assets/img/banners/drone2-1.gif">
   </div>

</div> -->

<section>
    <div class="container">
        <h2 class="homeheadline_tag text-center">
            <span class="headline_superheadline">DJI <b>DRONE</b>
                <button mat-raised-button style="font-size: 25px; margin:10px; color:blueviolet">SHOP NOW</button></span>
                
        </h2>
        <div class="col-12 text-center">
            <img src="assets/img/banners/drone2-1.gif" class="droninner_sec">
        </div>
        <!-- <div class="col-12 text-center" *ngIf="isHandset" width="50%">
            <img src="assets/img/banners/drone-mobile.png" class="droninner_sec">
        </div> -->
    </div>
</section>