
.home-header{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(#27292B,white);
}
/* Common styles for all screen sizes */
.home-page {
  background: linear-gradient(45deg, #5deee7, white 25%, transparent 25%, transparent 50%, #5deee7 50%, white 75%, transparent 75%, transparent);
  background-size: 200% 100%;
}

/* Animation and background size for desktop view */
@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Animation and background size for mobile view */
@media screen and (max-width: 768px) {
  .home-page {
    background-size: 400% 100%;
    animation: moveStripesMobile 5s linear infinite;
  }

  @keyframes moveStripesMobile {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}

  .column {
    flex: 1;
    align-items: center; /* Vertically align items */
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    /* Add any additional styling for the columns */
  }

  /* Media query for mobile devices */
  @media (max-width: 767px) {
    .column {
      flex-basis: 100%;
      margin-right: 0;
    }
  }




  .section{
    position: relative;
  }
  .text-center{
    text-align: center!important;
  }
  @media (min-width:1200px){
    h1{
        font-size: 2.4rem;
      }
  }
  .homeheadline_tag{
    margin-top: 10px;
    margin-bottom: 5%;
    vertical-align: middle;
  }
  /* .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    z-index: 1;
  }

  .card {
    flex: 0 0 calc(25% - 10px);
    margin: 5px;
  } */
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .product-card {
    display: flex;
    justify-content: center;
  }

  .card {
    width: 100%;
  }
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-image {
    max-width: 100%;
    height: auto;
  }
  .shop-now-button{
    border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 25px;
    margin:10px;
    color:#27292B;
  }

  .example-tab-icon{
    vertical-align: middle;
    color: #27292B;
    margin:5px;
  }

  .button-do{
    border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 25px;
    margin:10px;
    background-color:#444;
    color: white;
  }
  .card-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 10px;
    overflow: auto;
  }

  .what-we-do-card {
    max-width: 200px;
    margin: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .card-icon {
    background-color:#5deee7;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
  }

  .card-title {
    font-size: 24px;
    font-weight: 500;
    color: #27292B;
    margin-left: 12px;
  }

  .card-content {
    padding: 16px;
    color: #444;
  }

  p {
    margin-bottom: 0;
    line-height: 1.5;
  }
  .section-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #27292B;
  }
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .happy-clients-card {
    max-width: 600px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    color: #444;
  }

  .happy-clients-content {
    text-align: center;
  }

  .section-title {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    margin-bottom: 20px;
  }

  .pointers-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }

  .pointers-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .check-icon {
    margin-right: 10px;
    color: #5deee7;
    font-size: 24px;
  }


  .image-container img {
    margin: 0;
    padding: 0;
    max-width: 80%;
    height: auto;
    border-radius: 8px;
  }

  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .content-container {
      flex-direction: column;
      align-items: center;
    }

    .happy-clients-card {
      margin: 10px 0;
    }
  }
  .review-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 10px;
    overflow-x: auto;
  }
  .review-container::-webkit-scrollbar {
    display: none;
  }
   
  .review {
    height: auto;
    width: 550px;
    margin: 0px 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0;
    transition: transform 0.3s ease;
   
  }
  .review:hover {
    transform: scale(1.1);
  }

  .section-title {
    font-size: 32px;
    font-weight: 600;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
  }


  .platform {
    font-size: 18px;
    font-weight: 600;
    color: #444;
    margin-bottom: 10px;
  }

  .stars {
    font-size: 24px;
    color: #ffc107;
    margin-bottom: 10px;
  }

  .star {
    margin-right: 5px;
  }

  .comment {
    font-size: 16px;
    color: #444;
    line-height: 1.5;

  }

  /* Responsive styles */
  @media screen and (max-width: 600px) {
    .review {
      padding: 10px;
    }

    .stars {
      font-size: 20px;
    }

    .comment {
      font-size: 14px;
    }
  }
  .button-review{
    border-radius: 999px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 25px;
    margin:10px;
    background-color:white;
    color: #444;
  }


  /* this css sdded by dipak roy */




 .slider-container-org {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 400px;
  /* background-image: linear-gradient(pink,white, blue, whitesmoke, pink); */
  /* background-color: #D1D1D1; */
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%, #f9fcff 45%,);
  border-radius:20px;
  overflow: hidden;
}

  .slider-heading-org h1{
    margin-top: 20px;
    margin-left: 25px;
    letter-spacing: 2px;
    font-weight: 50px;
  }
  .slider-wrap-org{
    position: relative;
    overflow: hidden;
    height: 400px;

  }
  .slider-main-org{
    position: absolute;
    width: 10000%;

  }
  .item-sed {
    display: inline-block;
    width: 350px;
    /* height: 120px; */
    background-color: white;
    position: relative;
    margin: 0 12px;
    vertical-align: top;

  }

  /* .item5-org {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;

  } */

  /* .category-name-org {
    margin-right: 10px;
    padding: 10px;
  } */

  .item5-org img {
    /* max-width: 120px; */
    /* padding: 10px; */
    /* height: 107px; */
    margin-top: 20px;
    /* object-fit: cover; */
  }
  .prev-org{
    position: absolute;
    left:20px;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #ffc107;
    color: #27292B;
  }
  .prev-org:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
  }

  .next-org{
    position: absolute;
    right:3px;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #ffc107;
    color: #27292B;
  }
  .next-org:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease;
  }
  .icon{

    color: #27292B;
  }
  .series-card-container {
    display: flex;
    margin: 2%;
    margin-bottom: 0;
    margin-top: 1%;
    gap: 20px;
  }
  
  .series-card {
    width: 200px;
    height: auto; /* Adjust the height of the card */
    overflow: hidden;
    border-radius: 15px;
   
  }
  
  .series-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; /* Ensure the center of the image is visible */
    border-radius: 25px;
  }
  
  @media (max-width: 768px) {
    .series-card-container {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  
    .series-card {
      width: 150px;
      margin-bottom: 20px;
      border-radius: 25px;
    }
  }
  .bestSellerDrone {
 
    box-sizing: border-box;
    display: flex;
   
    justify-content: space-between;
    padding: 20px 0;
    border-radius: 10px;
    overflow: auto;
   
   
  }
   
  .bestSellerDrone::-webkit-scrollbar {
    display: none;
  }
   
  .bestSellerDroneCard {
    height: auto;
    width: 350px;
    margin: 0px 20px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 2px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 0;
    transition: transform 0.3s ease;
   
  }
  .bestSellerDroneCard:hover {
    transform: scale(1.1);
  }