<!-- privacy-policy.component.html -->
<section class="privacy-policy-container">
    <mat-card class="privacy-policy-card">
      <mat-card-header>
        <mat-card-title>Privacy Policy</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>Introduction</h2>
        <p>Welcome to everse.in! At everse.in, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, and protect the information you provide when using our website and services.</p>
        
        <h2>Data Collection and Use</h2>
        <p>When you visit our website or make a purchase, we may collect certain personal information from you, including your name, email address, shipping address, and payment details. We use this information solely for the purpose of processing your orders, communicating with you, and improving your shopping experience.</p>
        
        <h2>Security Measures</h2>
        <p>We take the security of your personal information seriously. We implement appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal data. We use industry-standard encryption technologies and follow best practices to ensure the security of your information.</p>
        
        <h2>Third-Party Services</h2>
        <p>We may utilize third-party services and tools to enhance your shopping experience, such as payment gateways, shipping providers, and analytics services. These third parties have their own privacy policies and data collection practices. We recommend reviewing their policies to understand how they handle your information.</p>
        
        <h2>Cookie Policy</h2>
        <p>Our website may use cookies to enhance your browsing experience and gather anonymous usage data. Cookies are small text files that are stored on your device. You can adjust your browser settings to refuse cookies or notify you when cookies are being sent. However, certain features of our website may not function properly without cookies.</p>
        
        <h2>Changes to Privacy Policy</h2>
        <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated policy on our website. We encourage you to review this policy periodically to stay informed about how we protect your privacy.</p>
        
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our Privacy Policy or the handling of your personal information, please contact our customer support team at privacy@everse.in.</p>
      </mat-card-content>
    </mat-card>
  </section>
  