.best_Seller_Drone_Image {
    box-sizing: border-box;
    height: 170px;
    width: 270px;
  }
   
  .best_Seller_Drone_Image>img {
   
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
   
   
  .best_Seller_Drone_Tittle {
    display: flex;
    align-items: center;
    background: linear-gradient(
      to top right,
      var(--gradient-aqua),
      var(--gradient-gray)
    );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
   
  .best_seller_drone_name {
    margin-left: 15px;
    margin-top: 5px;
  }

  .best_seller_drone_name p {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    height: 30px;
  }
   
  .best_seller_drone_Shop_Button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
  }
  .alt__priceSec{
    display: flex;
  }
  .shop-now-button{
    z-index: 1;
    border-radius: 10px !important;
    font-size: 12px;
    background: #fcc50b;
    color: #000;
    letter-spacing: -0.48px;
  }

  /* responsive */

  @media only screen and (max-width: 768px) {
    .best_Seller_Drone_Image {
      height: 110px;
      width: 175px;
    }
    .shop-now-button{
      display: none;
    }
    .best_seller_drone_name p {
      font-size: 12px;
      font-weight: 600;
      line-height: 1;
    }
    .best_seller_drone_name{
      display: flex;
      align-items: center;
    }
  }

  