<div class="wrapper">
  <app-header></app-header>
  <div class="overlay" *ngIf="spinnerService.isLoading">
    <div class="center">
      <mat-progress-spinner diameter="75" mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>
  </div>
  <div class="content">
    <!-- Your content goes here -->
    <router-outlet></router-outlet>
    <app-extended-footer-links></app-extended-footer-links>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Resources</h4>
            <ul>
              <li><a href="/home" routerLink="/home">Home</a></li>
              <li><a href="/about-us" routerLink="/about-us">About</a></li>
              <li><a href="/career" routerLink="/career">Careers</a></li>
              <li><a href="contact-us" routerLink="contact-us">Contact</a></li>
              <li><a href="/privacy-policy" routerLink="privacy-policy">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Get Help</h4>
            <ul>

              <li><a href="/home" routerLink="/home">Products</a></li>
              <li><a href="/faq" routerLink="/faq">FAQ</a></li>
              <li><a href="/faq" routerLink="/blogs">Blogs</a></li>
              <li><a href="/shipping-return-policy" routerLink="/shipping-return-policy">Return Policy</a></li>
              <li><a href="/delivery-shipping-policy" routerLink="/delivery-shipping-policy">Shipping Policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Our Offices</h4>
            <ul>
              <mat-card class="card mat-elevation-z13">
                <mat-card-title>
                  <h5 style="font-family: Arial, Helvetica, sans-serif;font-size: 18px;
                font-weight: bold;">Everse India</h5>
                </mat-card-title>
                <mat-card-content>
                  <p style="color: #24262b;vertical-align: middle;line-height: 2em;">
                    <span><mat-icon style="color: #24262b;vertical-align: middle;">location_on</mat-icon>
                      6th Block, Koramangala,Bangalore-560034
                    </span>
                    <br>
                    <span><mat-icon style="color:#24262b;vertical-align: middle;">mail_outline</mat-icon>
                      sales.everse@gmail.com
                    </span>
                    <br>
                    <span><mat-icon style="color: #24262b;vertical-align: middle;">call</mat-icon>
                      +919429691484
                    </span>
                  </p>
                </mat-card-content>
              </mat-card>
            </ul>
          </div>
          <div class="footer-col">
            <h4>Follow Us On</h4>
            <div class="social-links">
              <a style="vertical-align: middle;" href="https://www.youtube.com/channel/UCI_5b08hocM7hXh5JK8fJ7w">
                <img src="assets/img/social-media/youtube-logo.png" width="40">
              </a>
              <a style="vertical-align: middle;" href="https://instagram.com/everse_in">
                <img src="assets/img/social-media/instagram-logo.png" width="40">
              </a>
              <a style="vertical-align: middle;" href="https://twitter.com/Everse_in">
                <img src="assets/img/social-media/twitter-logo.png" width="40">
              </a>
              <a style="vertical-align: middle;" href="https://www.facebook.com/eVerseIndia?mibextid=ZbWKwL">
                <img src="assets/img/social-media/facebook-logo.png" width="40">
              </a>
              <a style="vertical-align: middle;" href="https://www.linkedin.com/company/everse-in/">
                <img src="assets/img/social-media/linkedin-logo.png" width="40">
              </a>
            </div>
          </div>
        </div>
        <div>
          <p style="margin: 5px;padding: 5px;color: #24262b;">
            <b>©2017-2025 All Rights Reserved. Everse.in.</b>
          </p>
        </div>
      </div>
    </footer>
  </div>
</div>

