<section>

  <div class="drone_uin_div">
    <h1>Apply for UIN - Unique Identification Number (Form D-2) on DigitalSky Platform</h1>
    <span>By Everse Drones</span>
    <h2>What is UIN for Drones?</h2>
    <p>UIN, short for Unique Identification Number, is a mandatory registration requirement for drones in India,
      governed by the Directorate General of Civil Aviation (DGCA). Much like a license plate for a car or an aircraft
      registration number, the UIN serves as a unique identifier for each drone operating in Indian airspace.</p>

    <h2>How to Obtain UIN Registration</h2>
    <p>The process for obtaining UIN registration for your drone is relatively straightforward. Drone operators must
      adhere to the guidelines provided by the DGCA. This typically involves submitting an application through the
      DigitalSky platform, along with necessary documents such as proof of ownership and drone specifications.</p>

    <h2><strong>Link to DigitalSky Platform</strong> : https://digitalsky.dgca.gov.in/home</h2>
    <h2>Apply for Unique Identification Number (Form D-2)</h2>
    <h2>Option 1: Apply UIN for cases exempted from Type Certificate (Model or a Nano UAS)</h2>
    <ol>
      <li>Organisations can create manufacturer account and profile on DigitalSky platform, if not already created.</li>
      <li>Login to DigitalSky platform and Select <strong>'Add Exempted Model'</strong> menu option from the dashboard.
      </li>
      <li>Fill all mandatory details of your Exempted UAS model and add your model on Digital Sky Platform.</li>
      <li>Once model is added, Individual/Organisation user can <strong>Add UAS Serial Number </strong> from dashboard,
        for the added UAS Model.</li>
      <li>User can <strong> Click Apply for UIN</strong> for the added UAS serial number.</li>
      <li>Preview the Application for Registration of UIN, Pay ₹100 fee and Submit Form D-2 (Application for Unique
        Identification Number) Upon successful receipt of requisite fee, the <strong>UIN will be generated</strong>.
      </li>
    </ol>

    <h2>Option 2: I want an UIN for my UAS which is Type Certified model</h2>
    <ol>
      <li>Create your account and profile on DigitalSky platform, if not already created.</li>
      <li>Login to DigitalSky platform and add your <strong>UAS Serial Number</strong> from dashboard.</li>
      <li>Navigate to the list of UAS and <strong>Apply for UIN</strong> for the added UAS serial number.</li>
      <li>Preview the Application for Registration of <strong> UIN</strong> (Unique Identification Number).</li>
      <li> Pay ₹100 fee and complete the submission of Form D-2 <strong>(Application for Unique Identification
          Number).</strong> </li>
      <li>Upon successful receipt of requisite fee, the UIN will be generated.</li>
      <li><strong>Note:</strong> Registration no, GSTIN, DIN fields shall not apply to any ministry, department, police
        force or institution under the Central Government or State Government.</li>
    </ol>

    <p>Upon successful completion of these steps, your drone will be assigned a UIN, allowing it to operate within
      Indian airspace legally.</p>

    <h2>How Long Does the UIN Registration Process Take?</h2>
    <p>The UIN registration process typically takes around 15-20 minutes to complete. By following the outlined steps on
      the DigitalSky platform, drone owners can efficiently register their drones and obtain the necessary documentation
      for compliance with Indian drone regulations. </p>

    <h2>Conclusion</h2>
    <p>UIN registration is a crucial step for drone operators in India to ensure compliance with regulatory requirements
      and maintain safety standards in airspace usage. By obtaining a Unique Identification Number for your drone, you
      contribute to the responsible and lawful operation of drones in the country.</p>
    <p>For any further inquiries or assistance regarding UIN registration, feel free to reach out to our support team at
      <strong>support@quadxdrones.com</strong> or contact our support executive at <strong> +91 9380433237</strong>.
    </p>
    <p>Happy flying, and may your drone adventures soar to new heights within the bounds of legality and safety!</p>
  </div>

  <mat-divider></mat-divider>

  <div class="drone_uin_input_div">
    <h2>Leave a comment</h2>
    <form class="drone_uin_form" [formGroup]="droneUinForm" (ngSubmit)="submitForm()">

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Enter Your Name</mat-label>
        <input matInput formControlName="fullName">
        <mat-error *ngIf="droneUinForm.get('fullName')?.errors?.['required'] && droneUinForm.get('fullName')?.touched">
          Full Name is required
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('fullName')?.errors?.['minlength']">
          Full Name must be at least 2 characters long
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('fullName')?.errors?.['maxlength']">
          Full Name cannot exceed 50 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Mobile Number</mat-label>
        <input matInput formControlName="mobileNumber" pattern="^((\+91-?)|0)?[0-9]{10}$">
        <mat-error *ngIf="droneUinForm.get('mobileNumber')?.errors?.['required']">
          Mobile Number is required
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('mobileNumber')?.errors?.['pattern']">
          Invalid Mobile Number format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="droneUinForm.get('email')?.errors?.['required']">
          Email is required
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('email')?.errors?.['email']">
          Invalid Email format
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('email')?.errors?.['maxlength']">
          Email cannot exceed 40 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Message</mat-label>
        <textarea matInput formControlName="message"></textarea>
        <mat-error *ngIf="droneUinForm.get('message')?.errors?.['required']">
          Message is required
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('message')?.errors?.['minlength']">
          Message must be at least 10 characters long
        </mat-error>
        <mat-error *ngIf="droneUinForm.get('message')?.errors?.['maxlength']">
          Message cannot exceed 500 characters
        </mat-error>
      </mat-form-field>

      <p>Please note, comments must be approved before they are published</p>
      <button mat-raised-button  type="submit">Post Comment</button>
    </form>
  </div>


<div class="back_to_blog_buttons_div">
  <button mat-button > <div><span class="arrow">&#8592;</span></div>
    BACK TO BLOGS </button>

</div>

</section>
