

<!-- about-us.component.html -->

<section>
    <!-- app.component.html -->
<app-image-slider [images]="imageList" [height]="height"></app-image-slider>

</section>
<section class="about-us-container">
    <div class="about-us-content">
      <div class="about-us-left">
        <mat-card class="about-us-card">
          <mat-card-header>
            <mat-card-title>Company About Us</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Welcome to everse.in! We are a leading provider of high-quality drones and accessories. Our mission is to offer innovative and reliable drone solutions to our customers.</p>
            <p>With years of experience in the drone industry, we are committed to delivering cutting-edge technology, exceptional customer service, and a seamless shopping experience.</p>
            <p>At everse.in, we believe in making drones accessible to everyone, from hobbyists to professionals. We strive to inspire creativity, exploration, and the limitless possibilities that drones can offer.</p>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="about-us-right">
        <mat-card class="company-persons-card">
          <mat-card-header>
            <mat-card-title>Company Persons</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="company-person-row">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Neeraj Singh</mat-card-title>
                      <mat-card-subtitle>CEO</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        Everse is a leading eCommerce company in the drone industry.
                         We provide high-quality drones and accessories. With a focus on innovation and customer satisfaction,
                         Everse continues to lead the way in making drones accessible to all.
                      </p>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Ravi Shankar Kumar</mat-card-title>
                      <mat-card-subtitle>CTO</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        As the CTO of Everse, I lead our team in driving technological 
                        innovation for the drone industry. We strive to create a seamless
                         and immersive eCommerce platform, 
                        delivering cutting-edge solutions to enhance our customers' experience.
                       </p>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Zafar Ahmed</mat-card-title>
                      <mat-card-subtitle>Marketing Director</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        As the Marketing Director of Everse, 
                        I am passionate about promoting our exceptional drones and accessories. 
                        We strive to captivate our customers through innovative marketing strategies,
                         creating a unique and immersive brand experience.
                         Join us as we push boundaries and inspire drone enthusiasts worldwide. 
                        </p>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Puneet Cool</mat-card-title>
                      <mat-card-subtitle>CFO</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                        As the CFO of Everse, I oversee our company's financial health and drive strategic
                         financial decisions. We are focused on sustainable growth and delivering
                         value to our stakeholders through effective financial management.
                       </p>
                    </mat-card-content>
                  </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
  <!-- <section>
    <mat-card>
        Drone images
    </mat-card>
  </section> -->