/* shop_by_categories */
.shop_by_categories_main_div {
  box-sizing: border-box;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 10px 0;
  border-radius: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.shop_by_categories_main_div::-webkit-scrollbar {
  display: none;
}

.shop_by_categories_card {
  height: auto;
  width: 200px;
}

.shop_by_categories_Image {
  box-sizing: border-box;
  padding: 10px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
  background: linear-gradient(
    to top right,
    var(--gradient-aqua),
    var(--gradient-gray)
  );
}

.shop_by_categories_Image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .shop_by_categories_Image {
    width: 175px;
    height: 175px;
  }

  .shop_by_categories_Image::after {
    width: 174px;
    height: 174px;
  }
  .shop_by_categories_main_div {
    gap: 15px;
  }
}