<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        [ngClass]="{hidden:!(isHandset$ | async)===true}"
        fixedInViewport="false"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <div>
          <a routerLink="/" routerlink-active="active-link" class="logo-link">
              <img src="assets/img/everse-logo.png"  class="logo"  alt="logo"/>
          </a>
        </div>
      </mat-toolbar>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <a mat-list-item routerLink="/" routerlink-active="active-link">Home</a>

        <a *ngIf="isAdmin" mat-list-item routerLink="/admin" routerlink-active="active-link">Admin</a>

        <mat-nav-list *ngFor="let key of category; let i = index">
          <mat-list-item class="category-item" [class.clicked]="isCategorySelected(i)" (click)="toggleSubcategories(i)">
            {{ key.title }}
            <mat-icon class="plus-minus-icon">
              {{ isCategorySelected(i) ? 'remove' : 'add' }}
            </mat-icon>
          </mat-list-item>
          <div *ngIf="isCategorySelected(i)">
            <mat-list-item *ngFor="let subCategory of key.subCategory" class="sub-category-item">
              <div class="sub-category-title" (click)="onClickCategory(subCategory.title)">
                {{ subCategory.title }}
              </div>
            </mat-list-item>
          </div>
        </mat-nav-list>
        <a mat-list-item routerLink="/blogs" routerlink-active="active-link">Blogs</a>
        <a mat-list-item routerLink="/about-us" routerlink-active="active-link">About Us</a>
        <a mat-list-item routerLink="/contact-us" routerlink-active="active-link">Contact Us</a>
        <a mat-list-item routerLink="/career" routerlink-active="active-link">Careers</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <mat-toolbar class="toolbar mat-elevation-z3">

          <mat-toolbar-row style="background-color: white;">
            <div *ngIf="!(isHandset$ | async)">
                <a routerLink="/" routerlink-active="active-link" class="logo-link">
                    <img src="assets/img/everse-logo.png" class="logo"   alt="logo"/>
                    <!-- <span style="color:#20c997;">Everse</span> -->
                </a>
            </div>

            <div style="font-size:10px;margin: auto;width: 80%;padding-bottom:0;vertical-align: middle;">
                <form class="form">
                    <mat-form-field class="mat-form-field"  appearance="outline">
                      <mat-icon *ngIf="showSearchIcon" style="color:#27292B;;font-size: 26px;vertical-align: middle;margin-right: 10px;">search</mat-icon>
                      <input type="text"
                            style="color: #27292B"
                             placeholder="Search Drones"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto"
                             (focus)="showSearchIcon = false"
                             (blur)="showSearchIcon = true"
                             >
                      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>

                    </mat-form-field>
                </form>
            </div>
           <!-- <div  fxHide.sm="true" fxHide.md="true" fxHide.xs="true" >
            <a style="vertical-align: middle;" href="https://www.youtube.com/channel/UCI_5b08hocM7hXh5JK8fJ7w">
                <img src="assets/img/social-media/youtube-logo.png" width="40">
            </a>
            <a style="vertical-align: middle;" href="">
                <img src="assets/img/social-media/instagram-logo.png" width="40">
            </a>
            <a style="vertical-align: middle;" href="">
                <img src="assets/img/social-media/twitter-logo.png" width="40">
            </a>
            <a style="vertical-align: middle;" href="">
                <img src="assets/img/social-media/facebook-logo.png" width="40">
            </a>
            <a style="vertical-align: middle;" href="">
                <img src="assets/img/social-media/linkedin-logo.png" width="40">
            </a>
           </div> -->
        </mat-toolbar-row>

        <mat-toolbar-row>
          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <!-- <button mat-button >
                <a routerLink="/"  class="home-link">
                    <mat-icon style="vertical-align: middle; margin-right: 2px;">home</mat-icon>
                     <span>Home</span>
                </a>
            </button> -->
           <!-- <app-menu-submenu></app-menu-submenu> -->
           <div *ngIf="!(isHandset$ | async)">
            <button mat-button routerLink="/home" routerlink-active="active-link" class="logo-link">
              <mat-icon style="vertical-align: middle;" aria-label="Side nav toggle icon">home</mat-icon> Home
            </button>
           </div>
           <div *ngIf="(isHandset$ | async)">
            <a routerLink="/" routerlink-active="active-link" class="logo-link">
                <img src="assets/img/everse-logo.png" class="logo"   alt="logo"/>
                <!-- <span style="color:#20c997;">Everse</span> -->
            </a>
           </div>
        <div *ngIf="!(isHandset$ | async)">
          <button mat-button [matMenuTriggerFor]="menu">Drone</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let subItem of category[0].subCategory" >
              <span (click)="onClickCategory(subItem.title)">
                {{ subItem.title }}
              </span>

            </button>
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="menu1">Services</button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item *ngFor="let subItem of category[1].subCategory">
              <span (click)="onClickCategory(subItem.title)">
                {{ subItem.title }}
              </span>
            </button>
          </mat-menu>
        </div>
        <div *ngIf="!(isHandset$ | async)">
          <button mat-button routerLink="/blogs" style="text-decoration: none;color: white;" routerlink-active="active-link">
            Blogs
          </button>
        </div>
            <span class="spacer"></span>

            <!-- <button mat-button fxHide.xs="true" fxHide.sm="true" >
              <a class="about" routerLink="/admin">
               <mat-icon style="vertical-align: middle;">chrome_reader_mode</mat-icon>
                  Admin</a>
           </button> -->
            <!-- <button mat-button [matMenuTriggerFor]="companyMenu"  *ngIf="isHandset$ | async" >
              <mat-icon style="vertical-align: middle;margin-right: 5px;">business</mat-icon>
                 Company
            </button>
              <mat-menu #companyMenu="matMenu">
                  <div *ngFor="let menu of companyMenuList">
                      <button routerLink="{{menu.routeUrl}}" mat-menu-item>
                          <mat-icon style="vertical-align: middle;margin-right: 5px;color:#A020F0;">{{menu.icon}}</mat-icon>
                          {{menu.title}}</button>
                  </div>
              </mat-menu>
              -->
              <div *ngIf="isAdmin">
                <button  mat-button routerLink="admin" *ngIf="!(isHandset$ | async)">
                  <mat-icon >account_balance</mat-icon>
                  Admin
                </button>
              </div>
              <div>
                <button  mat-button (click)="opencart()">
                  <mat-icon [matBadge]="cartItemCount" matBadgeColor="warn">shopping_cart</mat-icon>
                </button>
              </div>



              <div *ngIf="!isUserLoggedIn">
                <button  mat-button routerLink="/login" matTooltip="Login">
                  Login
                </button>
              </div>
              <div *ngIf="isUserLoggedIn">
                <button mat-mini-fab mat-button [matMenuTriggerFor]="menu" color="this.badgeClass" >
                  {{this.initial}}
                </button>
                <mat-menu #menu="matMenu" >
                  <div *ngFor="let option of profile">
                    <button mat-menu-item (click)="OnclickProfile(option.code)" >
                     <mat-icon style="vertical-align: middle;color: #1ea7a0;">{{option.icon}}</mat-icon> {{ option.code }}
                    </button>
                  </div>
                </mat-menu>
              </div>

        </mat-toolbar-row>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>

   <!-- <app-spinner></app-spinner> -->
    <!-- WhatsApp Chat Added  -->
   <a class="float_whatsapp"  href="https://wa.me/919429691484?text=Chat With Everse Sales & Tech Team" target="_blank">
    <img width="50px" src="assets/img/social-media/whatsapp-logo.png" alt=" ">
  </a>

      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
