.sidenav-container {
  height: 100%;
  width: 100%;
}
.float_whatsapp{
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 1000;
}
.sidenav {
  width: 200px;
}
.mat-drawer{
  position:fixed;
  height: 100%;
}
.mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}
.hidden{
  display: none;
}
.sidenav .mat-toolbar {
  background: inherit;
}

/* Fix the toolbar at the top */
.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  width: 100%;
/* Adjust z-index as needed */
}

/* Add margin-top to content area */


.home-link{
  text-decoration: none;
  margin-left: 10px;
  margin-left: 10px;
  padding: 5px;
}

.logo-link{
  text-decoration: none;
  padding: 5px;
}
.logo{
  display: flex;
  justify-content: flex-start;
  outline: none;
  height: 44px;
}
.logo-mobile{
  display: flex;
  justify-content: flex-start;
  outline: none;
  height: auto;
  width:44px;
}
.login-link{
  text-decoration: none;
}
.login-button{
  float: right;
}
.toolbar{
 background-color: #fdfcfc;
}
.form {

  display: flex;
  width: 100%;
  font-size: 12px;
  padding: -6px;

}
.about{
    text-decoration: none;
}
.spacer{
  flex: 1 1 auto;
}
.mat-form-field{
    width: 80%;
   vertical-align: middle;
   background-color: transparent;
   margin-bottom: 0;
}

.mat-form-field-subscript-wrapper {
  display: none;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}
.mat-form-field > mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 0;
}
.fullname{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
  padding: 5px;
  font-weight: bold;

}

.sub-category-title{
  margin-left: 10px;
}
.category-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-item.clicked {
  background-color: #e0e0e0; /* Change this to your desired highlight color */
}

.plus-minus-icon {
  color: rgb(25, 189, 189);
  margin: 2px;
  vertical-align: middle;
  font-size: 24px;
}

.plus-icon:before {
  content: '+';
}

.minus-icon:before {
  content: '-';
}
.search-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
}

.search-input {
  flex: 1;
  background-color: #27292B;
}

.search-icon {
  color: #27292B;
  font-size: 26px;
  cursor: pointer;
}

input {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  outline: none;
  padding: 6px 16px;

  width: 100%;
  max-width: 375px;

  font-size: 16px;
  line-height: 34px;
}
