<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav" 
      [ngClass]="{hidden:!(isHandset$ | async)===true}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <div>
        <a routerLink="/" routerlink-active="active-link" class="logo-link">
            <img src="assets/img/logo.jpg" class="logo"  alt="logo"/>
            <!-- <span style="color:#20c997;">Everse</span> -->
        </a>
    </div>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerlink-active="active-link">Home</a>
      <a mat-list-item routerLink="/blogs" routerlink-active="active-link">Blogs</a>
      <a mat-list-item routerLink="/about-us" routerlink-active="active-link">About Us</a>
      <a mat-list-item routerLink="/contact-us" routerlink-active="active-link">Contact Us</a>
      <a mat-list-item routerLink="/career" routerlink-active="active-link">Careers</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
   
      <mat-toolbar class="toolbar mat-elevation-z3">

        <mat-toolbar-row style="background-color: white;">
          <div>
              <a routerLink="/" routerlink-active="active-link" class="logo-link">
                  <img src="assets/img/logo.jpg" class="logo"   alt="logo"/>
                  <!-- <span style="color:#20c997;">Everse</span> -->
              </a>
          </div>
         
          <div style="font-size:10px;margin: auto;width: 60%;padding-bottom:0;vertical-align: middle;">
              <form class="form">
                  <mat-form-field class="mat-form-field"  appearance="outline">
                      
                    <input type="text"
                          style="color: #A020F0;"
                           placeholder="Search Products"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                      
                  </mat-autocomplete>
                  
                  </mat-form-field>
                  <button (click)="OnSearchCourse(this.myControl.value)" mat-button type="submit" style="vertical-align: middle;text-align: center;padding: 0;margin: 0;margin-bottom: 10px;">
                      <mat-icon style="color:#A020F0;;font-size: 26px;">search</mat-icon>
                  </button>
                  </form>
          </div>
         <!-- <div  fxHide.sm="true" fxHide.md="true" fxHide.xs="true" >
          <a style="vertical-align: middle;" href="https://www.youtube.com/channel/UCI_5b08hocM7hXh5JK8fJ7w">
              <img src="assets/img/social-media/youtube-logo.png" width="40">
          </a>
          <a style="vertical-align: middle;" href="">
              <img src="assets/img/social-media/instagram-logo.png" width="40">
          </a>
          <a style="vertical-align: middle;" href="">
              <img src="assets/img/social-media/twitter-logo.png" width="40">
          </a>
          <a style="vertical-align: middle;" href="">
              <img src="assets/img/social-media/facebook-logo.png" width="40">
          </a>
          <a style="vertical-align: middle;" href="">
              <img src="assets/img/social-media/linkedin-logo.png" width="40">
          </a>
         </div> -->
      </mat-toolbar-row>
      
      <mat-toolbar-row>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
          <!-- <button mat-button >
              <a routerLink="/"  class="home-link">
                  <mat-icon style="vertical-align: middle; margin-right: 2px;">home</mat-icon>
                   <span>Home</span>
              </a>
          </button> -->
          <button mat-button [matMenuTriggerFor]="courseMenu"  *ngIf="!(isHandset$ | async)">
            <mat-icon style="vertical-align: middle;margin-right: 5px;">category</mat-icon>
               Category</button>
            <mat-menu #courseMenu="matMenu">
                <div *ngFor="let key of categoryList">
                    <button routerLink="{{key.routeUrl}}" mat-menu-item>
                        <mat-icon style="vertical-align: middle;margin-right: 5px;color:#A020F0">description</mat-icon>
                        {{key.title}}</button>
                </div>  
            </mat-menu>
          <span class="spacer"></span>
          <button mat-button fxHide.xs="true" fxHide.sm="true" >
            <a class="about" routerLink="/blogs">
             <mat-icon style="vertical-align: middle;">chrome_reader_mode</mat-icon>
                Blogs</a>
         </button>
          <!-- <button mat-button [matMenuTriggerFor]="companyMenu"  *ngIf="isHandset$ | async" >
            <mat-icon style="vertical-align: middle;margin-right: 5px;">business</mat-icon>
               Company
          </button>
            <mat-menu #companyMenu="matMenu">
                <div *ngFor="let menu of companyMenuList">
                    <button routerLink="{{menu.routeUrl}}" mat-menu-item>
                        <mat-icon style="vertical-align: middle;margin-right: 5px;color:#A020F0;">{{menu.icon}}</mat-icon>
                        {{menu.title}}</button>
                </div>  
            </mat-menu>
            -->
            <div>
              <button  mat-button routerLink="/cart">
                <mat-icon matBadge="0" matBadgeColor="warn">shopping_cart</mat-icon>
              </button>
            </div>



            <div *ngIf="!isUserLoggedIn">
              <button mat-mini-fab mat-button routerLink="/login">
                <mat-icon>person</mat-icon>
              </button>
            </div>
            <div *ngIf="isUserLoggedIn">
              <button mat-mini-fab mat-button [matMenuTriggerFor]="menu" color="this.badgeClass" >
                {{this.initial}}
              </button>
              <mat-menu #menu="matMenu" >
                <button mat-menu-item *ngFor="let option of profile" >
                  {{ option.code }}
                </button>
              </mat-menu>
            </div>
           
      </mat-toolbar-row>
  </mat-toolbar>
 <router-outlet></router-outlet>
  <!-- WhatsApp Chat Added  -->
 <a class="float_whatsapp"  href="https://wa.me/918620038489?text=Chat With RightClick Programming" target="_blank">
  <img width="50px" src="assets/img/social-media/whatsapp-logo.png">
</a>
    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
