<ng-container [ngSwitch]="stepperOrientation | async">
    <div *ngSwitchCase="'horizontal'"><h1 style="text-align: center;color:#8a15d3 ;">Checkout</h1></div>
    <div *ngSwitchCase="'vertical'"><h1>Checkout</h1></div>
</ng-container>
  
  <mat-stepper
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    
    <mat-step [stepControl]="addressFormGroup" label="Fill out your address">
      <form [formGroup]="addressFormGroup">    
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Address Line 1</mat-label>
                <textarea matInput formControlName="addressLine1" placeholder="Ex. 100 Main St"></textarea>
              </mat-form-field>
              <br>

             <mat-form-field class="form-field" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city" placeholder="Ex. San Francisco">
             </mat-form-field>
             <mat-form-field class="form-field" appearance="outline">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" placeholder="Ex. California">
            </mat-form-field>               
            <br>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Postal Code</mat-label>
                <input matInput formControlName="postalCode" #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="postalCode" #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
            </mat-form-field>      
        </form>                    
        <div>
          <button mat-button matStepperNext class="proceed-to-pay-button"
          [disabled]="addressFormGroup.invalid"
          >Proceed To Pay</button>
        </div>
    </mat-step>
    <mat-step [stepControl]="paymentFormGroup" label="Payment">
      <form [formGroup]="paymentFormGroup">
        <section class="example-section">
            <div style="margin-bottom: 10px;margin-top: 5px;">
                <mat-label style="margin-top: 5px;margin-bottom:5px;padding:5px;font-size: 18px;">
                    <mat-icon style="vertical-align: middle;color:#8a15d3">payment</mat-icon>
                      <b>Select Payment Option</b>
                </mat-label>
            </div>
            <mat-checkbox formControlName="cashOnDelivery">Cash On Delivery</mat-checkbox>
          </section>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext class="proceed-to-pay-button"
           (click)="placeOrder()" [disabled]="paymentFormGroup.invalid">Place Order</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h1 style="color: #8a15d3;">Congratulations!! Order Completed</h1>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
  