<div class="login-container">
    <mat-card class="login" mat-elevation-z3  >
      <div>
        <img  width="100px"  src="assets/img/logo.jpg">
      </div> 
      <mat-card-header>  
       <mat-card-title  >Login to Everse</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="loginForm">
              <div fxLayout="column">
                <div>
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Username</mat-label>
                      <input 
                        autocomplete="off"
                        matInput
                        formControlName="username"
                        placeholder="Enter Username">
                      <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
                      <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">Username length is minimum 6 characters</mat-error>
                    </mat-form-field>
               </div>
              <div>
               
          <mat-form-field style="width: 100%;" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              autocomplete="off"
              matInput
              formControlName="password"
              placeholder="Enter Password"
              type="password"
              required>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password length is minimum 6 characters</mat-error>
          </mat-form-field>
          <section class="example-section">
            <mat-checkbox formControlName="checkbox">Remember Me</mat-checkbox>
   
          </section>
        </div>
        </div>
            <mat-card-actions >
              <button  mat-raised-button primary class="button" (click)="login()">Login</button>
              <a routerLink="/forget-password" style="text-decoration: none;color: #A020F0;">&nbsp; Forget Password ?</a>
              <div style="margin: 5px;">
                <span>Not a Member? </span><a  style="text-decoration: none;color:#A020F0 ;" routerLink="/signup">Signup</a>
              </div>
            </mat-card-actions>
        </form>
      </mat-card-content>
      <h2><span>OR</span></h2>
      <mat-card-actions>
        <button style="margin-left: 20%;" mat-raised-button primary class="button">
          <mat-icon style="color:black">smartphone</mat-icon>
          Login with Phone No.</button>
      </mat-card-actions>
      <h2><span>OR</span></h2>
      <mat-card-actions>
        <button style="margin-left: 20%;" mat-raised-button primary class="button">
          <img src="assets/img/banners/google-icon.png" width="30px">
          Login with Google</button>
      </mat-card-actions>
      
    </mat-card>
  </div>
 
  