<div class="container">
    <div class="alt__extendedDesktop">
        <div class="row">
            <div class="footer-col">
                <h3>DJI Drones in India</h3>
                <div>
                    <h4>DJI Mini Series</h4>
                    <li><a href="#">Mini 3 Pro With Smart Controller</a></li>
                    <li><a href="#">Mini 3 Pro With Fly More Kit Plus</a></li>
                    <li><a href="#">Mini 2 Fly More Combo</a></li>
                    <li><a href="#">Mini SE Fly More Combo</a></li>
                </div>
                <div>
                    <h4>DJI Mavic Series</h4>
                    <li><a href="#">Mavic Mini Standard</a></li>
                    <li><a href="#">DJI Mavic Mini Fly More Combo</a></li>
                    <li><a href="#">Mavic 3 Classic with Combo Pack</a></li>
                    <li><a href="#">Mavic 3 Pro Fly More Combo</a></li>
                </div>
                <div>
                    <h4>DJI Air Series</h4>
                    <li><a href="#">Air 2S Fly More Combo Drone</a></li>
                    <li><a href="#">Air 3 Fly More Combo with Smart Controller</a></li>
                    <li><a href="#">Air 3 Fly More Combo with Normal Controller</a></li>
                </div>
                <div>
                    <h4>DJI Enterprise Drones</h4>
                    <li><a href="#">DJI Phantom 4 RTK</a></li>
                    <li><a href="#">Matrice 300 RTK Drone</a></li>
                    <li><a href="#">DJI Mavic 2 Enterprise Advanced</a></li>
                    <li><a href="#">DJI P4 Multispectral Drone</a></li>
                </div>
            </div>
            <div class="footer-col">
                <h3>DJI Drone Accessories</h3>
                <div>
                    <h4>Batteries</h4>
                    <li><a href="#">Intelligent Flight Battery for Avata</a></li>
                    <li><a href="#">Intelligent Flight Battery for Mini 2</a></li>
                    <li><a href="#">Intelligent Flight Battery for Phantom 4 Pro</a></li>
                </div>
                <div>
                    <h4>Remote Controllers</h4>
                    <li><a href="#">DJI Motion controller</a></li>
                    <li><a href="#">Remote Controller for Phantom 4</a></li>
                    <li><a href="#">Remote Controller for DJI Mavic 2 Pro</a></li>
                    <li><a href="#">Smart controller for Mavic 2 Pro</a></li>
                    <li><a href="#">Remote Controller 2 For DJI FPV Drone</a></li>
                </div>
                <div>
                    <h4>Propellers</h4>
                    <li><a href="#">Air 2 Low-Noise Propellers</a></li>
                    <li><a href="#">Mini 2 Propellers</a></li>
                    <li><a href="#">Mavic 2 Propellers</a></li>
                </div>
                <div>
                    <h4>Cases</h4>
                    <li><a href="#">Bag for Mini 2</a></li>
                    <li><a href="#">Mavic Mini 2: Hard Storage Carrying Case</a></li>
                    <li><a href="#">Mavic 3 Hard Case</a></li>
                </div>
            </div>
            <div class="footer-col">
                <h3>Buy Autel Drones in India</h3>
                <div>
                    <h4>EVO II Series</h4>
                    <li><a href="#">EVO II Pro RTK V2</a></li>
                    <li><a href="#">EVO II Pro Enterprise V2</a></li>
                    <li><a href="#">Autel Robotics EVO II Pro V3 Camera Drone</a></li>
                </div>
                <div>
                    <h4>EVO Nano Series</h4>
                    <li><a href="#">EVO Lite</a></li>
                    <li><a href="#">EVO lite+</a></li>
                    <li><a href="#">EVO Nano</a></li>
                    <li><a href="#">EVO Nano+</a></li>
                </div>
                <div>
                    <h4>Autel Enterprise Drones</h4>
                    <li><a href="#">Autel Robotics EVO II Pro</a></li>
                    <li><a href="#">Autel Robotics EVO Max 4N</a></li>
                </div>
            </div>
            <div class="footer-col">
                <h3>Autel Drone Accessories</h3>
                <div>
                    <h4>Battery</h4>
                    <li><a href="#">EVO Battery</a></li>
                    <li><a href="#">EVO II Intelligent Battery</a></li>
                    <li><a href="#">EVO Lite Series Battery</a></li>
                </div>
                <div>
                    <h4>Filter</h4>
                    <li><a href="#">EVO II UV Filter</a></li>
                    <li><a href="#">EVO II Pro UV Filter</a></li>
                    <li><a href="#">EVO II Pro ND Filters</a></li>
                </div>
                <div>
                    <h4>Propeller</h4>
                    <li><a href="#">EVO II Propellers (Low-Noise)</a></li>
                    <li><a href="#">EVO Lite Series Propellers</a></li>
                    <li><a href="#">EVO II Pro ND Filters</a></li>
                </div>
            </div>
        </div>
    </div>
<!-- Extended Footer for mobile view -->

    <div class="alt__extendedMobile">
        <nav class="accordion-container">
            <div class="main-item" (click)="toggleAccordion(1)" [class.main-item--open]="isExpanded1">
                DJI Drones in India
                <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    [class.main-item--open]="isExpanded1">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </div>
            <ul [ngClass]="{ 'expanded': isExpanded1 }">
                <div>
                    <h4>DJI Mini Series</h4>
                    <li><a href="#">Mini 3 Pro With Smart Controller</a></li>
                    <li><a href="#">Mini 3 Pro With Fly More Kit Plus</a></li>
                    <li><a href="#">Mini 2 Fly More Combo</a></li>
                    <li><a href="#">Mini SE Fly More Combo</a></li>
                </div>
                <div>
                    <h4>DJI Mavic Series</h4>
                    <li><a href="#">Mavic Mini Standard</a></li>
                    <li><a href="#">DJI Mavic Mini Fly More Combo</a></li>
                    <li><a href="#">Mavic 3 Classic with Combo Pack</a></li>
                    <li><a href="#">Mavic 3 Pro Fly More Combo</a></li>
                </div>
                <div>
                    <h4>DJI Air Series</h4>
                    <li><a href="#">Air 2S Fly More Combo Drone</a></li>
                    <li><a href="#">Air 3 Fly More Combo with Smart Controller</a></li>
                    <li><a href="#">Air 3 Fly More Combo with Normal Controller</a></li>
                </div>
                <div>
                    <h4>DJI Enterprise Drones</h4>
                    <li><a href="#">DJI Phantom 4 RTK</a></li>
                    <li><a href="#">Matrice 300 RTK Drone</a></li>
                    <li><a href="#">DJI Mavic 2 Enterprise Advanced</a></li>
                    <li><a href="#">DJI P4 Multispectral Drone</a></li>
                </div>
            </ul>
        </nav>
        <nav class="accordion-container">
            <div class="main-item" (click)="toggleAccordion(2)" [class.main-item--open]="isExpanded2">
                DJI Drone Accessories
                <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    [class.main-item--open]="isExpanded2">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </div>
            <ul [ngClass]="{ 'expanded': isExpanded2 }">
                <div>
                    <h4>Batteries</h4>
                    <li><a href="#">Intelligent Flight Battery for Avata</a></li>
                    <li><a href="#">Intelligent Flight Battery for Mini 2</a></li>
                    <li><a href="#">Intelligent Flight Battery for Phantom 4 Pro</a></li>
                </div>
                <div>
                    <h4>Remote Controllers</h4>
                    <li><a href="#">DJI Motion controller</a></li>
                    <li><a href="#">Remote Controller for Phantom 4</a></li>
                    <li><a href="#">Remote Controller for DJI Mavic 2 Pro</a></li>
                    <li><a href="#">Smart controller for Mavic 2 Pro</a></li>
                    <li><a href="#">Remote Controller 2 For DJI FPV Drone</a></li>
                </div>
                <div>
                    <h4>Propellers</h4>
                    <li><a href="#">Air 2 Low-Noise Propellers</a></li>
                    <li><a href="#">Mini 2 Propellers</a></li>
                    <li><a href="#">Mavic 2 Propellers</a></li>
                </div>
                <div>
                    <h4>Cases</h4>
                    <li><a href="#">Bag for Mini 2</a></li>
                    <li><a href="#">Mavic Mini 2: Hard Storage Carrying Case</a></li>
                    <li><a href="#">Mavic 3 Hard Case</a></li>
                </div>
            </ul>
        </nav>
        <nav class="accordion-container">
            <div class="main-item" (click)="toggleAccordion(3)" [class.main-item--open]="isExpanded3">
                Buy Autel Drones in India
                <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    [class.main-item--open]="isExpanded3">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </div>
            <ul [ngClass]="{ 'expanded': isExpanded3 }">
                <div>
                    <h4>EVO II Series</h4>
                    <li><a href="#">EVO II Pro RTK V2</a></li>
                    <li><a href="#">EVO II Pro Enterprise V2</a></li>
                    <li><a href="#">Autel Robotics EVO II Pro V3 Camera Drone</a></li>
                </div>
                <div>
                    <h4>EVO Nano Series</h4>
                    <li><a href="#">EVO Lite</a></li>
                    <li><a href="#">EVO lite+</a></li>
                    <li><a href="#">EVO Nano</a></li>
                    <li><a href="#">EVO Nano+</a></li>
                </div>
                <div>
                    <h4>Autel Enterprise Drones</h4>
                    <li><a href="#">Autel Robotics EVO II Pro</a></li>
                    <li><a href="#">Autel Robotics EVO Max 4N</a></li>
                </div>
            </ul>
        </nav>
        <nav class="accordion-container">
            <div class="main-item" (click)="toggleAccordion(4)" [class.main-item--open]="isExpanded4">
                Autel Drone Accessories
                <svg xmlns="http://www.w3.org/2000/svg" class="expand-icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
                    [class.main-item--open]="isExpanded4">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </div>
            <ul [ngClass]="{ 'expanded': isExpanded4 }">
                <div>
                    <h4>Battery</h4>
                    <li><a href="#">EVO Battery</a></li>
                    <li><a href="#">EVO II Intelligent Battery</a></li>
                    <li><a href="#">EVO Lite Series Battery</a></li>
                </div>
                <div>
                    <h4>Filter</h4>
                    <li><a href="#">EVO II UV Filter</a></li>
                    <li><a href="#">EVO II Pro UV Filter</a></li>
                    <li><a href="#">EVO II Pro ND Filters</a></li>
                </div>
                <div>
                    <h4>Propeller</h4>
                    <li><a href="#">EVO II Propellers (Low-Noise)</a></li>
                    <li><a href="#">EVO Lite Series Propellers</a></li>
                    <li><a href="#">EVO II Pro ND Filters</a></li>
                </div>
            </ul>
        </nav>
    </div>
</div>