
.signup-container{
  display: flex;
    left: auto;
    right: auto;
    justify-content: center;
    background-image:  url(/assets/img/banners/signup-banner.jpg);
  }
  
  .signup{
   margin: 2%;
    width: 300px;
  }
  
  .button{
    color:#A020F0;
   margin-left: 30%;
  }
  h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #c7c1c1; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
  } 
  
  h2 span { 
     background:white; 
     padding:0 10px; 
  }