<div class="banner-main_div"> 
    <img src="https://everse-assets.s3.amazonaws.com/banner-image/everse-offer-banner.png" alt="image not found">
   
   
   
    <!-- Full-desktop banner_timer section -->
    <div class="banner_timer full-desktop">
      <p><b>Ending in</b> <span id="hours">{{ hours }}</span> Hours : <span id="minutes">{{ minutes }}</span> Min : <span id="seconds">{{ seconds }}</span> sec</p>
    </div>
   
   
    <!-- Smaller-screen banner_timer section -->
    <div class="banner_timer smaller-screen">
      <p class="number_watch_text"><b>Ending in</b></p>
      <p>
        <span>{{ hours }}</span>
        <span>{{ minutes }}</span>
        <span>{{ seconds }}</span>
      </p>
      <p id="banner_watch_text">
        <span>Hour</span>
        <span>Min</span>
        <span>Sec</span>
      </p>
   
    </div>
  </div>