/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* customise css */
.alt__container {
    max-width: 1450px;
    margin: 0 auto;
}