<div class="login__container">
    <mat-card class="login__container__mat__card">
      <mat-card-header>
        <mat-card-title>
          <img class="login__container__img" src="assets/img/name.png">
        </mat-card-title>
      </mat-card-header>
      <h1>Log in</h1>
      <p>Book Your Drone Adventure with Us and Enjoy <strong>Free Delivery</strong> to Dive into Everse's Tech World</p>
      <!-- <ng-container *ngIf="!isLoginFormEnabled">
        <button mat-raised-button>
            <div>
              <img src="assets/img/banners/google-icon.png">
            </div>
            Login with Google
          </button>
          <div class="login__hr__tag">
            <hr><span>OR</span>
            <hr>
          </div>
      </ng-container> -->
      
   
      <div class="login__container__option" *ngIf="!isLoginFormEnabled">
        <!-- <div>
          <img src="\assets\img\banners\apple.svg" alt="">
          <p>Apple</p>
        </div> -->
        <div>
            <a style="text-align: center;cursor: pointer;text-decoration: none;" (click)="onClickOfLoginWithMobile()">
                <img src="https://everse-assets.s3.amazonaws.com/mobile-login-images/phone-fill.svg" alt="">
                <p>Phone Number</p>
            </a>
        
        </div>
      </div>
    <!-- login.component.html -->
        <div class="login__container__option_login_form" *ngIf="isLoginFormEnabled">
            <div class="form-container">
              <form [formGroup]="mobileLoginForm" (ngSubmit)="onSubmitMobileNumber()" *ngIf="isMobileinputEnabled">
                <mat-form-field appearance="outline">
                  <!-- Indian National Flag Icon and Country Code inside mat-form-field -->
                  <span matPrefix>
                    <img src="https://everse-assets.s3.amazonaws.com/assets/indian_flag.png" width="25px" alt="Indian Flag" class="flag-icon">
                    <span class="country-code">+91 </span>
                  </span>
                  
                  <!-- Mobile Number Input -->
                  <mat-label>Mobile Number</mat-label>
                  <input matInput formControlName="mobileNumber" placeholder="Enter your mobile number" type="tel" maxlength="10">
                  <mat-error *ngIf="mobileNumber?.invalid && mobileNumber?.touched">
                    Please enter a valid mobile number.
                  </mat-error>
                </mat-form-field>
                
                <!-- Submit Button -->
                <button mat-raised-button color="primary" type="submit" [disabled]="mobileLoginForm.invalid">Get OTP</button>
              </form>
              
            <form [formGroup]="otpForm" (ngSubmit)="onSubmitOtp()" *ngIf="isOtpInputEnabled">
              <mat-form-field appearance="fill" class="otp-form">
                <input matInput #otpInput  formControlName="input1"  maxlength="1" (keydown)="restrictToSingleDigit($event,0)" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="otp-form">
                <input matInput #otpInput   formControlName="input2" maxlength="1" (keydown)="restrictToSingleDigit($event,1)" />
              </mat-form-field>
              <mat-form-field appearance="fill" class="otp-form">
                <input matInput #otpInput  formControlName="input3" maxlength="1" (keydown)="restrictToSingleDigit($event,2)"/>
              </mat-form-field>
              <mat-form-field appearance="fill" class="otp-form">
                <input matInput #otpInput formControlName="input4"  maxlength="1" (keydown)="restrictToSingleDigit($event,3)" />
              </mat-form-field>
            
              <!-- Global Error Message -->
              <mat-error *ngIf="globalError" class="global-error">{{ globalError }}</mat-error>
              <br>
              <!-- Submit Button -->
              <button mat-raised-button color="primary" type="submit" [disabled]="otpForm.invalid">Verify OTP</button>
            </form>
            <form [formGroup]="userForm" (ngSubmit)="onSubmitUserForm()" *ngIf="isUserEnabled">
              <mat-form-field appearance="outline">
                <span matPrefix>
                  <mat-icon style="vertical-align: middle;">mail_outline</mat-icon>
                </span>
                <mat-label>Email Id</mat-label>
                <input matInput formControlName="emailId" placeholder="Enter your Email Id" type="text">
                <mat-error *ngIf="emailId?.invalid && (emailId?.dirty || emailId?.touched)">
                  <ng-container *ngIf="emailId?.errors?.['required']">Email is required.</ng-container>
                  <ng-container *ngIf="emailId?.errors?.['pattern']">Please enter a valid email address.</ng-container>
                </mat-error>
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <span matPrefix>
                  <mat-icon style="vertical-align: middle;">person</mat-icon>
                </span>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter your Name" type="text">
                <mat-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                  <ng-container *ngIf="name?.errors?.['required']">Name is required.</ng-container>
                  <ng-container *ngIf="name?.errors?.['minlength']">Name must be at least 2 characters long.</ng-container>
                </mat-error>
              </mat-form-field>
            
              <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Continue</button>
            </form>
            
            </div>
        </div>
  
   
   
      <div class="login__container__condition">
        <p>
          <img src="https://everse-assets.s3.amazonaws.com/mobile-login-images/shield-check.svg" alt="">
          Your data is never shared. No spam message.
        </p>
        <span id="login__container__para">Account creation accepts <u> Privacy Policy</u> & <u>Terms of Use.</u></span>
      </div>
   
    </mat-card>
  </div>