<div class="login__container">
    <mat-card class="login__container__mat__card">
      <mat-card-header>
        <mat-card-title>
          <img class="login__container__img" src="assets/img/everse-logo.png">
        </mat-card-title>
      </mat-card-header>
      <h1>Log in</h1>
      <p>Embark on a magical AI journey with your browser and receive <strong>30 Free </strong>queries every day.</p>
      <button mat-raised-button>
        <div>
          <img src="assets/img/banners/google-icon.png">
        </div>
        Login with Google
      </button>
      <div class="login__hr__tag">
        <hr><span>OR</span>
        <hr>
      </div>
   
      <div class="login__container__option">
        <!-- <div>
          <img src="\assets\img\banners\apple.svg" alt="">
          <p>Apple</p>
        </div> -->
        <div>
          <img src="https://everse-assets.s3.amazonaws.com/mobile-login-images/phone-fill.svg" alt="">
          <p>Phone Number</p>
        </div>
      </div>
   
   
   
      <div class="login__container__condition">
        <p>
          <img src="https://everse-assets.s3.amazonaws.com/mobile-login-images/shield-check.svg" alt="">
          Your data is never shared. No spam message.
        </p>
        <span id="login__container__para">Account creation accepts <u> Privacy Policy</u> & <u>Terms of Use.</u></span>
      </div>
   
    </mat-card>
  </div>