
.login-container{
    display: flex;
      left: auto;
      right: auto;
      justify-content: center;
      background-image:  url(/assets/img/banners/login-banner.jpg);
    }
    
    .login{
     margin: 2%;
      width: 300px;
    }
    
    .button{
      border-radius: 999px;
      padding-left: 16px;
      padding-right: 16px;
      width: 200px;
      background-color: #8a15d3;
      color:white;
    }
   
    h2 {
      width: 100%; 
      text-align: center; 
      border-bottom: 1px solid #c7c1c1; 
      line-height: 0.1em;
      margin: 10px 0 20px; 
    } 
    
    h2 span { 
       background:white; 
       padding:0 10px; 
    }