<div class="login-container">
    <mat-card class="login" mat-elevation-z3  >
      <div>
        <img  width="100px"  src="assets/img/logo.jpg">
      </div> 
      <mat-card-content>
        <form [formGroup]="forgetPasswordForm">
              <div fxLayout="column">
                <div>
                    <span>
                        Forgot your password? No problem. Just let us know your email address
                        and we will email you a password reset link that will allow you to choose a new one.
                    </span>
                    <mat-form-field style="width: 100%;" appearance="outline">
                      <mat-label>Email Id</mat-label>
                      <input 
                        autocomplete="off"
                        matInput
                        formControlName="emailId"
                        placeholder="Enter Email Id">
                      <mat-error *ngIf="forgetPasswordForm.get('username')?.hasError('required')">Username is required</mat-error>
                      <mat-error *ngIf="forgetPasswordForm.get('username')?.hasError('minlength')">Username length is minimum 6 characters</mat-error>
                    </mat-form-field>
               </div>
              <div>
         
        </div>
        </div>
            <mat-card-actions >
              <button style="margin-left: 20%;" mat-raised-button primary class="button" (click)="login()">Send password Reset Link</button>
            </mat-card-actions>
        </form>
      </mat-card-content>
     
    </mat-card>
  </div>
 
  