.alt__whatWeProvideSection {
  /* background-color: #1d1e22; */
  margin: 20px 0;
}

.alt__whatWeProvideContainer {
  display: flex;
  gap: 2%;
  padding: 20px 0;
  overflow-y: hidden;
}

.alt__whatWeProvideContainer::-webkit-scrollbar {
  display: none;
}

.alt__whatWeProvideCard {
  position: relative;
  height: 160px;
  flex: 0 0 auto;
  width: 217.5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
  border-image-slice: 1;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.alt__whatWeProvideCard::after {
  position: absolute;
  content: '';
  width: 1em;
  height: 1em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 0;
  background: #212121;
  top: 7px;
  left: 7px;
}

.alt__ImgArea {
  box-sizing: border-box;
  padding: 10px;
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.alt__ImgArea>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alt__TitleArea>h3 {
  color: #212121;
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}

.alt__DiscriptionArea {
  color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
}

@media screen and (max-width: 768px) {
  .alt__whatWeProvideCard {
    margin-left: 20px;
    margin-right: 20px;
  }
}