<div class="alt__whatWeProvideSection">
    <div class="alt__whatWeProvideContainer alt__container">
        <div class="alt__whatWeProvideCard" *ngFor="let provided of provided_list">
            <div class="alt__ImgArea">
                <img [src]="provided.logo">
            </div>
            <div class="alt__TitleArea">
                <h3>{{provided.title}}</h3>
            </div>
            <div class="alt__DiscriptionArea">
                <p>{{provided.discription}}</p>
            </div>
        </div>
    </div>
</div>